.cart__container{
    max-width: 62.5vw;
    margin: 4vw auto;
    padding: 20px;
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow);
    border-radius: var(--border-radius);
}
.cart__title{
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 2vw;
    text-align: center;
}
.cart__table-container{
    overflow-y: auto;
}
.cart__table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart__table th, .cart__table td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.cart__details{
    box-shadow: var(--card-shadow);
}
.total__price {
    font-size: 16px;
    text-align: right;
    margin-top: 20px;
    color: var(--text-color);
}

.total__price span{
    color: blue;
}

.clear__cart_btn{
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--btn-bg);
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}
.clear__cart_btn:hover {
    background-color: var(--btn-bg-hover);
}