.product_content {
    max-width: 62.5vw;
    margin: 50px auto;
   
}

.product_content h1 {
    font-size: 2.1vw;
    color: var(--primary-color);
}

.product_content p {
    width: 80%;
    font-size: 1.1vw;
    color: var(--subtitle-color);
    line-height: 1.6;
}